<p>
  user-edit works!
</p>

<form (ngSubmit)="register()" [formGroup]="userForm">
  <div class="form-group">
    <label class="center-block">Email:</label>
    <input formControlName="email">
    <div *ngIf="formError.email" class="alert alert-danger">{{ formError.email }}</div>

  </div>
  <div class="form-group">
    <label class="center-block">Password:</label>
    <input type="password" formControlName="password">
    <div *ngIf="formError.password" class="alert alert-danger">{{ formError.password }}</div>

  </div>

  <button type="submit" [disabled]="userForm.invalid">{{ "Register" | translate }}</button>
</form>