<app-header [displayHeadIdentity]="displayIdentity"></app-header>

<h1 class='center'>{{ "users list" | translate }}</h1>
<div class='container'>
  <div class="row">
    <ng-template [ngIf]="userDisplay === 1">
      <div class="card horizontal" (click)="editUser(user)" appBorderCardDirective="red">
        <div class="card-image">
          <img [src]="">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p>{{ user.email }}</p>
            <p>{{ user.name.first }}</p>
            <p>{{ user.name.last }}</p>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template [ngIf]="userDisplay === 0">
      User inconnu
    </ng-template>
  </div>
  <button type="submit " (click)="openDialog(user._id, user.email)">{{ "Delete address" | translate }}</button>
</div>