<app-header [displayHeadIdentity]="displayIdentity"></app-header>

<h1 class='center'>{{ "users list" | translate }}</h1>
<div class='container'>
  <div class="row">
    <div *ngFor='let user of tabUser' class="col s6 m4">
      <div class="card horizontal" (click)="selectPokemon(user)" appBorderCardDirective="red">
        <div class="card-image">
          <img [src]="">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p>{{ user.email }}</p>
            <p>
              <small>{{ user.name.first }}</small>
            </p>
            <div *ngFor='let userAddress of user.address' class="col s6 m4">
              {{ userAddress._id }} - {{ userAddress.street }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<input #box (keyup.enter)="onkey(box.value)" (blur)="onkey(box.value)">
<p>{{ values }}</p>